
@font-face {
    font-family: TrueCrimes;
    /* src: url(/fonts/truecrimes_regular_macroman/true-crimes-webfont.woff) format('woff'); */
    src: url(/fonts/actionman_bold_macroman/Action_Man_Bold-webfont.woff) format('woff');
}

body {
    background-color: #effffe;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.h1-home {
    font-family: TrueCrimes, sans-serif;
    color:#a03800; 
    text-align: center;
    /* color: brown;  */
    font-size: 80px;
}


.h3-home {
    font-family: TrueCrimes, sans-serif;
    color:#a03800; 
    text-align: center;
    /* color: brown;  */
    font-size: 36px;
}

p {
    color: #4C4C4C;
    font-size: large;
    line-height: 1.9;
}

.p-home {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.quote {
    color: #00B2AB;
    font-size: 30pt;
    align-self: flex-start;
}

.right {
    text-align: left;    
}

.left {
    text-align: right;
}

.random-button {
    background-color: #00B2AB;
    color: #effffe;
    border: solid;
    border-color: #00B2AB;
    border-radius: 4px;
    border-width: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.random-button:hover {
    background-color: #effffe;
    color: #00B2AB;
}

.search-form {
    margin-top: 30px;
}

.search-input {
    height: 40px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #00B2AB;
    background-color: #effffe;
    padding-left: 10px;
    position: relative;
    /* right: -.25em; */
}

.search-button {
    background-color: #00B2AB;
    color: #effffe;
    border: solid;
    border-color: #00B2AB;
    border-radius: 4px;
    border-width: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-left: 5px;
    /* left: -.25em; */
}

.search-button:hover {
    background-color: #effffe;
    color: #00B2AB;
}

.joke {
    text-align: center;
    margin-top: 30px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spacer {
    height: 30px;
}





.my-brand {
    height: 45px;
    width: 160px;
    /* color: #F8B500;
    border-color: #F8B500; */
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.brand-text {
    margin-left: 10px;
    align-self: center;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 35px;
    padding-top: 35px;
}

.spacer {
    height: 30px;
}

.spacer-small {
    height: 10px;
}

.empty-large {
    height: 40px;
}

.how-to-img {
    display: flex;
    align-items: center;
}

.my-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C4C4C;
    /* margin-top: 40px; */
    height: 35px;
    width: 100%;
    position: relative;
    bottom: 0;
    color: white;
    font-size: small;
}

#footer-link {
    color: white;
}

#home-img {
    width: 100%;
    opacity: .75;
    /* box-shadow: 2px 2px 2px; rgba(53, 45, 45, 0.6); */
}

#about-img {
    width: 100%;
}
